<div class="edit__profile__progressbar">
    <circle-progress
    [percent]="completeProfile"
    [radius]="100"
    [backgroundColor]="'#FDB900'"
    [backgroundPadding]="5"
    [radius]="40"
    [maxPercent]="100"
    [units]="' %'"
    [showUnits]="true"
    [unitsFontWeight]="'600'"
    [unitsColor]="'#483500'"
    [outerStrokeWidth]="5"
    [outerStrokeColor]="'#FFFFFF'"
    [innerStrokeColor]="'#FFFFFF'"
    [titleColor]="'#483500'"
    [titleFontSize]="'14'"
    [titleFontWeight]="'600'"
    [subtitleColor]="'#483500'"
    [subtitleFontWeight]="'500'"
    [animationDuration]="300"
    [showInnerStroke]="false"
    [responsive]="true"
    [showZeroOuterStroke]="false"
    [startFromZero]="false"
></circle-progress>
</div>