@use '/src/styles/shared/variables' as var;
@import '/src/styles/shared/media-queries';

.btn,
button {
    font-family: var.$btn-font;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    padding: 10px;
    color: #fff;
    background: #ffa500; 
    border-radius: 10px;
    @include md {
        font-size: 17px;
      }
      @include lg {
        font-size: 18px;
      }
      @include xl {
        font-size: 20px;
      }
}

.add {
    background: #12c412;
}

.edit {
    background: #ffa500; 
}

.delete {
    background: #ba2e08;
}

.disabled {
    opacity: 0.5;
}

/* Wariant "Disabled" */
.btn:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}