@use '/src/styles/shared/variables' as var;

.btn,
button {
    font-family: var.$btn-font;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    padding: 10px;
    color: white;
    background: orange;
    text-transform: capitalize;
    border-radius: 10px;
}

/* Wariant "Disabled" */
.btn:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}