@use '/src/styles/shared/variables' as var;
@import '/src/styles/shared/media-queries';

html,
body {
    height: 100%;
}

html {
    font-size: 62.5%;
}

body,
h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

body {
    font-family: var.$main-font;
    color: var.$main-text;
    background-color: gray;}

fieldset {
    padding: 15px;
    border-color: rgb(211 211 211 / 35%)
}

legend {
    color: rgb(168, 168, 168);
}

// .active {}

.m-auto {
    margin-left: auto;
    margin-right: auto;
}

.container {
    padding: 50px 20px;
    min-height: calc(100vh - 160px);
    @include md {
        padding: 50px 30px;
        margin: 0 auto;
        max-width: 700px;
    }
    @include lg {
        padding: 50px;
        max-width: 800px;
    }
    @include xl {
        max-width: 900px;
    }

    @include xxl {
        max-width: 1000px;
    }
}

.space-between {
    justify-content: space-between;
}
  
@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }