@use '@angular/material' as mat;
@use 'sass:map';

//fonts
$main-font: 'poppins', sans-serif;
$material-font: $main-font;
$btn-font: $main-font;

//colors
$main-text: #fff;
$link: #fff;
$main-color: red;

//breakpoints
$breakpoint-sm: 360px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1250px;
$breakpoint-xxl: 1700px;