<div class="container">
    <h1>{{ 'home.title' | translate }}</h1>
    <div class="home">
        <img src="/assets/images/todocat_optimized.png" alt="to-do cat" *ngIf="!isDesktop">
        <div class="home-cat" #catImage *ngIf="isDesktop">
            <div class="eye" #leftEye>
                <div class="pupil"></div>
            </div>
            <div class="eye" style="left: 307px" #rightEye>
                <div class="pupil"></div>
            </div>
        </div>
        <div class="home__login" *ngIf="!isTablet">
            <button class="edit" routerLink="/login">To get started, go to Login!</button>
        </div>
        <div>
            <h2>
                {{ 'home.subtitle' | translate }}
            </h2>
            <ng-container *ngIf="isTablet">
                <h3>
                    {{ 'home.list-title' | translate }}
                </h3>
                <ul>
                    <li><span>{{ 'home.list-item-add' | translate }}</span>{{ 'home.list-item-add-1' | translate }}</li>
                    <li><span>{{ 'home.list-item-remove' | translate }}</span>{{ 'home.list-item-remove-1' | translate }}</li>
                    <li><span>{{ 'home.list-item-edit' | translate }}</span>{{ 'home.list-item-edit-1' | translate }}</li>
                </ul>
                <div class="home__login" *ngIf="!isAuthenticated">
                    <button class="edit" routerLink="/login">{{ 'buttons.home' | translate }}</button>
                </div>
            </ng-container>
        </div>
    </div>
</div>