<div class="container register">
    <form [formGroup]="form" (ngSubmit)="registerUser()">
        <h1>{{ 'register.title' | translate }}:</h1>
        <app-error controlName="username">
            <app-input
                [label]="'form.username'"
                [control]="this.form.get('username')"
                [type]="'text'">
            </app-input>
        </app-error>
        <app-error controlName="email">
            <app-input
                [label]="'form.email'"
                [control]="this.form.get('email')"
                [type]="'email'">
            </app-input>
        </app-error>
        <app-error controlName="password">
            <app-input
                [label]="'form.password'"
                [control]="this.form.get('password')"
                [type]="'password'">
            ></app-input>
        </app-error>
        <app-error controlName="repeatPassword">
            <app-input
                [label]="'form.repeat-password'"
                [control]="this.form.get('repeatPassword')"
                [type]="'password'">
            ></app-input>
        </app-error>
        <div class="register__buttons">
            <app-buttons 
                [textButton]="'buttons.create'"
                [isValid]="isValid" 
                [isLoading]="isLoading"
            ></app-buttons>
            <button (click)="back()">{{ 'buttons.back' | translate }}</button>
        </div>
    </form>
</div>