<div class="container">
    <form [formGroup]="form" (ngSubmit)="createUser()">
        <h1>Register:</h1>
        <mat-form-field class="register">
          <mat-label>Username</mat-label>
          <input type="text" matInput formControlName="username">
        </mat-form-field>

        <mat-form-field class="register">
            <mat-label>Email</mat-label>
            <input type="email" matInput formControlName="email">
        </mat-form-field>
    
        <mat-form-field class="register">
            <mat-label>Password</mat-label>
            <input type="password" matInput formControlName="password">
        </mat-form-field>
    
        <div class="test">
            <button type="submit" class="login">Submit</button>
        </div>
    </form>
</div>