
<div class="container login">
    <form [formGroup]="form" (ngSubmit)="login()">
        <h1>Login:</h1>
        <app-error controlName="username">
            <app-input
                [label]="'Username'"
                [control]="this.form.get('username')"
                [type]="'text'"
                >
            </app-input>
        </app-error>
        <app-error controlName="password">
            <app-input
                [label]="'Password'"
                [control]="this.form.get('password')"
                [type]="'password'"    
                >
            </app-input>
        </app-error>
        <app-buttons 
            [textButton]="'Submit'"
            [isValid]="isValid" 
            [isLoading]="isLoading" 
            [isExtraButton]="true"
        ></app-buttons>
    </form>
</div>