
<div class="container login">
    <form [formGroup]="form" (ngSubmit)="login()">
        <h1>{{ 'login.title' | translate }}:</h1>
        <app-error controlName="username">
            <app-input
                [label]="'form.username'"
                [control]="this.form.get('username')"
                [type]="'text'"
                >
            </app-input>
        </app-error>
        <app-error controlName="password">
            <app-input
                [label]="'form.password'"
                [control]="this.form.get('password')"
                [type]="'password'"    
                >
            </app-input>
        </app-error>
        <app-buttons 
            [textButton]="'buttons.submit'"
            [isValid]="isValid" 
            [isLoading]="isLoading" 
            [isExtraButton]="true"
        ></app-buttons>
    </form>
</div>