
<div class="container">
    <form [formGroup]="form" (ngSubmit)="login()">
        <h1>Login:</h1>
        <mat-form-field class="login">
          <mat-label>Username</mat-label>
          <input type="text" matInput formControlName="username">
        </mat-form-field>
    
        <mat-form-field class="login">
            <mat-label>Password</mat-label>
            <input type="password" matInput formControlName="password">
        </mat-form-field>
    
        <div class="test">
            <button type="submit" class="login add">Submit</button>
            <button routerLink="/register" class="login">register</button>
        </div>
    </form>
</div>