<form class="add__form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <h1>Add todo:</h1>
    <app-input
      [label]="'Todo title'"
      [control]="this.form.get('title')"
      [type]="'text'"
      [placeholder]="'Ex. Go shopping'"
    ></app-input>
    <app-textarea
      [label]="'Todo description'"
      [control]="this.form.get('description')"
      [placeholder]="'Ex. Date or time...'"
      [type]="'textarea'"
    ></app-textarea>
    <button class="add" type="submit" [ngClass]="{'disabled' : !isValid}">Add todo</button>
</form>
<button class="add__button delete" (click)="onHideAddTodo()">Cancel</button>