<div class="container">
    <app-add-todo [userId]="userId" *ngIf="isAddTodo && !isEditTodo" (hideAddTodo)="onHideAddTodo($event)"></app-add-todo>
    <app-edit-todo [selectedIndex]="selectedIndex" [todoList]="todoList" (hideEditTodo)="onHideEditTodo($event)" *ngIf="!isAddTodo && isEditTodo"></app-edit-todo>
    <ng-container *ngIf="!isAddTodo && !isEditTodo">
        <div>
            <h1>My Todos:</h1>
            <div class="row">
                <mat-form-field [ngStyle]="{'width': '100%'}">
                    <mat-label>Search</mat-label>
                    <input matInput #input (keyup)="search(input.value)" placeholder="by title and description">
                </mat-form-field>
                <app-filters-todo></app-filters-todo>
            </div>
            <div [ngStyle]="{'text-align': 'right', 'padding-bottom': '25px'}">
                <button class="add" (click)="isAddTodo = true">Add Todo</button>
            </div>
            <ul *ngFor="let todo of todoList; let index = index">
                <div class="test">
                    <a [routerLink]="'/todo/' + todo.id"><li>{{ todo.title }} -<span [ngStyle]="{'font-size': '16px'}"> {{ todo.createdAt | date }}</span></li></a>
                    <div class="test2">
                        <button class="edit" (click)="editTodo(index)">Edit</button>
                        <button class="delete" (click)="deleteTodo(todo.id)">delete</button>
                    </div>
                </div>
            </ul>
        </div>

        <mat-paginator
            class="todos"
            [length]="todosService.state.total"
            [pageSize]="todosService.params.getValue().perPage"
            [pageSizeOptions]="options"
            [pageIndex]="todosService.params.getValue().page - 1"
            (page)="handlePageEvent($event)"
            [showFirstLastButtons]="true"
        ></mat-paginator>
    </ng-container>
</div>