:host {
    app-filters-todo {
        display: flex;
        width: 130px;
    }

    .row {
        display: flex;
        gap: 10px;
        justify-content: space-between;
    }

    .todos__button {
        text-align: right;
        padding-bottom: 25px;
    }

    .todos__list {
        font-size: 20px;
        padding: 10px 0;
        border-bottom: 2px groove orange;
        span {
            font-size: 16px;
        }
        &__buttons {
            display: flex;
            gap: 10px;
            justify-content: flex-end;
        }
    }

}