<div class="container">
    <h3>Add todo:</h3>
    <input type="text" #newTodo>
    <button (click)="createTodo(newTodo.value)">CreateTodo</button>
    <div>
        <h3>My Todos:</h3>
        <div>
            <button (click)="setOrder('asc')">Sort Asc</button>
            <button (click)="setOrder('desc')">Sort Desc</button>           
            <button (click)="setSort('title')">Sort by Title</button>
            <button (click)="setSort('createdAt')">Sort by Date</button>
          </div>
        <input type="text" #input (keyup)="search(input.value)"> search
        <ul *ngFor="let todo of todoList; let index = index">
            <div [ngStyle]="{'display': 'flex', 'gap': '10px'}">
                <a [routerLink]="'/todo/' + todo.id"><li>{{ todo.title }} - {{ todo.createdAt | date }}</li></a>
                <button (click)="editTodo(index)" *ngIf="index !== selectedIndex; else saveTemplate">Edit</button>
                <ng-template #saveTemplate>
                    <button (click)="saveTodo(index)">save</button>
                </ng-template>
                <button (click)="deleteTodo(todo.id)">delete</button>
            </div>
        </ul>
    </div>

    <mat-paginator
        class="todos"
        [length]="todosService.state.total"
        [pageSize]="todosService.params.getValue().perPage"
        [pageSizeOptions]="options"
        [pageIndex]="todosService.params.getValue().page - 1"
        (page)="handlePageEvent($event)"
        [showFirstLastButtons]="true"
    ></mat-paginator>


</div>