<div class="container todos">
    <app-add-todo 
        *ngIf="isAddTodo && !isEditTodo"
        [userId]="userId" 
        (hideAddTodo)="onHideAddTodo($event)">
    </app-add-todo>
    <app-edit-todo
        *ngIf="!isAddTodo && isEditTodo"
        [selectedIndex]="selectedIndex" 
        [todoList]="todoList" 
        (hideEditTodo)="onHideEditTodo($event)">
    </app-edit-todo>
    <ng-container *ngIf="!isAddTodo && !isEditTodo">
        <div>
            <h1>My Todos:</h1>
            <div class="row">
                <app-search 
                    [placeholder]="'by title and description'"
                    [label]="'Search'"
                ></app-search>
                <app-filters-todo
                    [label]="'Sort'"
                ></app-filters-todo>
            </div>
            <div class="todos__button">
                <button class="add" (click)="isAddTodo = true">Add Todo</button>
            </div>
            <ul *ngFor="let todo of todoList; let index = index">
                <div class="todos__list">
                    <a [routerLink]="'/todo/' + todo.id"><li>{{ todo.title }} -<span> {{ todo.createdAt | date }}</span></li></a>
                    <div class="todos__list__buttons">
                        <button class="edit" (click)="editTodo(index)">Edit</button>
                        <button class="delete" (click)="deleteTodo(todo.id)">Delete</button>
                    </div>
                </div>
            </ul>
        </div>
        <mat-paginator
            class="todos__pagination"
            [length]="todosService.state.total"
            [pageSize]="todosService.params.getValue().perPage"
            [pageSizeOptions]="options"
            [pageIndex]="todosService.params.getValue().page - 1"
            (page)="handlePageEvent($event)"
            [showFirstLastButtons]="true"
        ></mat-paginator>
    </ng-container>
</div>