.todos__pagination .mat-mdc-paginator-container {
    justify-content: center;
    padding: 10px 0;
    gap: 10px;
}

.todos__pagination svg {
    fill: #fff;
}

.todos__pagination.mat-mdc-paginator {
    background: transparent;
    color: #fff;
    padding-top: 25px;
}

.todos__pagination mat-form-field {
    background: #fff;
    border-radius: 5px;
}