@import '/src/styles/shared/media-queries';

.todos__pagination .mat-mdc-paginator-container {
    justify-content: center;
    padding: 10px 0;
    gap: 10px;
}

.todos__pagination svg {
    fill: #fff;
}

.todos__pagination.mat-mdc-paginator {
    background: transparent;
    color: #fff;
    padding-top: 25px;

    .mat-mdc-paginator-page-size-label, .mat-mdc-paginator-range-label {
        font-family: 'poppins', sans-serif;
        @include lg {
            font-size: 16px;
        }
        @include xxl {
            font-size: 18px;
        }
    }
}

.todos__pagination mat-form-field {
    background: #fff;
    border-radius: 5px;
}
.snackbar-background .mdc-snackbar__surface {
    background-color: #12c412!important;
}
.snackbar-error-background .mdc-snackbar__surface {
    background-color: red!important;
}
.mdc-snackbar__label {
    @include lg {
        font-size: 18px!important;
    }
}

.mat-datepicker-popup {
    width: 100%;
    right: 0!important;
    padding: 0 20px;
    @include md {
        max-width: 500px;
        top: 50%!important;
        left: 50%!important;
        transform: translate(-50%, -50%);
    }

    mat-datepicker-content {
        width: 100%;
    }

    .mat-datepicker-content .mat-calendar {
        width: 100%;
        height: auto;
    }
}