<div class="container edit__profile">
    <div class="row">
        <h1>Edit profile:</h1>
        <app-user-progress-bar
        [completeProfile]="completeProfile"
        [form]="form"
        (validFieldsCount)="handleValidFieldsCount($event)"
        (isValid)="isValid = $event"
        >
        </app-user-progress-bar>   
    </div> 
    <form [formGroup]="form" (ngSubmit)="save()">
        <app-error controlName="name">
            <app-input
                [label]="'Name'"
                [control]="this.form.get('name')"
                [type]="'text'">
            </app-input>
        </app-error>
        <app-error controlName="address.country">
            <app-input
                [label]="'Country'"
                [control]="this.form.get('address.country')"
                [type]="'text'">
            </app-input>
        </app-error>
        <app-error controlName="address.city">
            <app-input
                [label]="'City'"
                [control]="this.form.get('address.city')"
                [type]="'text'">
            </app-input>
        </app-error>
        <app-error controlName="address.street">
            <app-input
                [label]="'Street'"
                [control]="this.form.get('address.street')"
                [type]="'text'">
            </app-input>
        </app-error>
        <app-error controlName="company">
            <app-input
                [label]="'Company'"
                [control]="this.form.get('company')"
                [type]="'text'">
            </app-input>
        </app-error>
        <app-error controlName="phone">
            <app-input
                [label]="'Phone'"
                [control]="this.form.get('phone')"
                [type]="'number'">
            </app-input>
        </app-error>
        <app-error controlName="email">
            <app-input
                [label]="'Email'"
                [control]="this.form.get('email')"
                [type]="'email'">
            </app-input>
        </app-error>
        <div class="edit__profile__buttons">
            <app-buttons 
                [textButton]="'Save'"
                [isValid]="isValid" 
                [isLoading]="isLoading"
            ></app-buttons>
            <button (click)="back()">Back</button>
        </div>
    </form>
</div>