:host {
    .row {
        text-align: center;
        padding-bottom: 20px;
    }

    .edit__profile {
        &__buttons {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
        &__info {
            display: flex;
            align-items: center;
            gap: 5px;

            i {
                padding-bottom: 3px;
            }
        }
    }
}