<div class="container edit__profile">
    <div class="row">
        <h1>{{ 'profile.edit' | translate }}:</h1>
        <app-user-progress-bar
        [completeProfile]="completeProfile"
        [form]="form"
        (validFieldsCount)="handleValidFieldsCount($event)"
        (isValid)="isValid = $event"
        >
        </app-user-progress-bar>   
    </div> 
    <form [formGroup]="form" (ngSubmit)="save()">
        <app-error controlName="name">
            <app-input
                [label]="'Name *'"
                [control]="this.form.get('name')"
                [type]="'text'">
            </app-input>
        </app-error>
        <app-error controlName="birthDate">
            <app-data-picker
                [label]="'Date of birth *'"
                [control]="this.form.get('birthDate')"
                [type]="'date'">
            </app-data-picker>
        </app-error>
        <app-error controlName="gender">
            <app-select
                [label]="'Gender *'"
                [control]="this.form.get('gender')"
                [list]="genderList"
                >
            </app-select>
        </app-error>
        <div class="edit__profile__info"><i class="fa fa-question-circle"></i><h4>If you want extra fields like region or city write Poland</h4></div>
        <app-error controlName="address.country">
            <app-input
                [label]="'Country *'"
                [control]="this.form.get('address.country')"
                [type]="'text'">
            </app-input>
        </app-error>
        <app-error controlName="address.region" *ngIf="!hideRegionInput">
            <app-select
                [label]="'Region'"
                [control]="this.form.get('address.region')"
                [list]="regionList"
                >
            </app-select>
        </app-error>
        <app-error controlName="address.city" *ngIf="!hideCityInput">
            <app-select
                [label]="'City'"
                [control]="this.form.get('address.city')"
                [list]="cityList"
                >
            </app-select>
        </app-error>
        <app-error controlName="phone">
            <app-input
                [label]="'Phone *'"
                [control]="this.form.get('phone')"
                [type]="'number'">
            </app-input>
        </app-error>
        <app-error controlName="email">
            <app-input
                [label]="'Email *'"
                [control]="this.form.get('email')"
                [type]="'email'">
            </app-input>
        </app-error>
        <div class="edit__profile__buttons">
            <app-buttons 
                [textButton]="'Save'"
                [isValid]="isValid" 
                [isLoading]="isLoading"
            ></app-buttons>
        </div>
    </form>
    <div class="edit__profile__back">
        <button (click)="back()">{{ 'buttons.back' | translate }}</button>
    </div>
</div>