<mat-form-field class="input" appearance="fill">
 <mat-label>{{ label | translate }}</mat-label>
   <ng-container *ngIf="type !== 'password'">
      <input
      matInput
      [formControl]="control"
      [type]="type"
      [placeholder]="placeholder | translate"
      >
   </ng-container>

   <ng-container *ngIf="type === 'password'">
      <input 
      matInput 
      [placeholder]="'form.password' | translate"
      [type]="hide ? 'text' : 'password'" 
      [formControl]="control"
      >
      <mat-icon matSuffix (click)="hide = !hide" class="icon">{{ hide ? 'visibility' : 'visibility_off'}}</mat-icon>
   </ng-container>
</mat-form-field>