<div class="menu" [ngClass]="{'show-menu': showMenu}">
    <button class="close-button" mat-icon-button (click)="closeMenu()">
        <mat-icon>close</mat-icon>
    </button>
    <ul>
      <app-menu-list
      [isAuthenticated]="isAuthenticated"
      [authorizedMenuItems]="authorizedMenuItems"
      [notAuthorizedMenuItems]="notAuthorizedMenuItems"
      (closeMenuEmitter)="closeMenu()"
      (userLoggedOut)="logout()"
      (languageChanged)="changeLanguage($event)"
      ></app-menu-list>
    </ul>
</div>