<ng-container *ngIf="isAuthenticated">
    <li *ngFor="let menuItem of authorizedMenuItems">
      <a [routerLink]="menuItem.routerLink" (click)="this.closeMenuEmitter.emit()" [routerLinkActive]="'active'">{{ menuItem.label | translate }}</a>
    </li>
    <li>
      <a (click)="this.userLoggedOut.emit()" [ngStyle]="{'cursor' : 'pointer'}">{{ 'navigation.logout' | translate }}</a>
    </li>
    <div class="languages">
      <span class="language" (click)="changeLanguage('pl'); isDefaultLang = false" *ngIf="isDefaultLang">EN</span>
      <span class="language" (click)="changeLanguage('en'); isDefaultLang = true" *ngIf="!isDefaultLang">PL</span>
    </div>
</ng-container>
<ng-container *ngIf="!isAuthenticated">
    <li *ngFor="let menuItem of notAuthorizedMenuItems">
      <a [routerLink]="menuItem.routerLink" [routerLinkActive]="'active'" (click)="this.closeMenuEmitter.emit()">{{ menuItem.label | translate }}</a>
    </li>
    <div class="languages">
      <span class="language" (click)="changeLanguage('pl'); isDefaultLang = false" *ngIf="isDefaultLang">EN</span>
      <span class="language" (click)="changeLanguage('en'); isDefaultLang = true" *ngIf="!isDefaultLang">PL</span>
    </div>
</ng-container>