<form class="edit__form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <h1>{{ 'todos.edit' | translate }}:</h1>
    <app-error controlName="title">
      <app-input
        [label]="'Todo title'"
        [control]="this.form.get('title')"
        [type]="'text'"
        [placeholder]="'Ex. Go shopping'"
      ></app-input>
    </app-error>
    <app-error controlName="description">
      <app-textarea
        [label]="'Todo description'"
        [control]="this.form.get('description')"
        [placeholder]="'Ex. Date or time...'"
        [type]="'textarea'"
      ></app-textarea>
    </app-error>
    <app-buttons 
      [textButton]="'Edit todo'"
      [isValid]="isValid" 
      [isLoading]="isLoading"
    ></app-buttons>
</form>
<button class="edit__button delete" (click)="onHideEditTodo()">{{ 'buttons.cancel' | translate }}</button>