@import '/src/styles/shared/media-queries';

:host {
    .footer {
        padding: 20px;
        text-align: center;
        @include md {
            padding: 20px 30px;
        }
        @include lg {
            padding: 20px 50px;
        }
    }
}