<div class="container user">
    <ng-container *ngIf="user">
        <h1>My profile</h1>
        <div class="user__picture">
            
        </div>
        <h3>Email: {{ user.email }}</h3>
        <h3>Phone: {{ user.phone }}</h3>
        <h3>Address: {{ user.address?.country }}, {{ user.address?.city }}, {{ user.address?.street }}</h3>
        <h3>Company name: {{ user.company?.name }}</h3>
        <div class="user__edit">
            <button class="edit" [routerLink]="'/profile/edit/' + user.id">Edit profile</button>
        </div>
    </ng-container>
</div>