<div class="container user">
    <ng-container *ngIf="user">
        <h1>My profile</h1>
        <div class="user__picture">
            <label for="fileInput" class="user__picture__label" [ngClass]="{'editIcon' : !isDisplayEditIcon }">
                <i class="fa fa-pencil"></i>
            </label>
            <input type="file" id="fileInput" (change)="fileChangeEvent($event)" />
            <image-cropper
              *ngIf="imageChangedEvent"
              [imageChangedEvent]="imageChangedEvent"
              [maintainAspectRatio]="true"
              [aspectRatio]="4 / 4"
              format="png"
              (imageCropped)="imageCropped($event)"
            ></image-cropper>
            <img *ngIf="!imageChangedEvent && croppedImage" class="user__picture__image" [src]="croppedImage"/>
            <img *ngIf="!imageChangedEvent && !croppedImage" class="user__picture__image" />
        </div>
        <div class="user__button">
            <button *ngIf="isDisplaySaveBtn" (click)="saveImage(user.id, croppedImage)">Save</button>
        </div>

        <app-user-progress-bar></app-user-progress-bar>


        <div class="user__info">
            <app-user-basic-info 
                [openAccordionIndex]="openAccordionIndex"
                (sendIndexNumber)="setOpenAccordion($event)"
            ></app-user-basic-info>
            <app-user-contact
                [openAccordionIndex]="openAccordionIndex"
                (sendIndexNumber)="setOpenAccordion($event)"
            ></app-user-contact>
            <app-user-settings
                [openAccordionIndex]="openAccordionIndex"
                (sendIndexNumber)="setOpenAccordion($event)"
            ></app-user-settings>
        </div>

        <div class="user__edit">
            <button class="edit" [routerLink]="'/profile/edit/' + user.id">Edit profile</button>
        </div>
    </ng-container>
</div>