@import '/src/styles/shared/mixins';

:host  {
    .error {
        padding: 10px;
        font-size: 1.4rem;
        top: -18px;
        border-radius: 0 0 5px 5px;
        background-color: #ffdddd;
        border: 1px solid #ffcccc;
        color: #d8000c;
        position: relative;
        display: flex;
        align-items: center;
        @include fade-in(0.3s);
      
        &::before {
          content: "⚠️";
          display: inline-block;
          margin-right: 10px;
          font-size: 18px;
        }
    }
}