<div class="nav">
    <div class="nav__logo"><a routerLink="/home"><i class="fa fa-home"></i></a></div>
    <ng-container *ngIf="!isTablet">
        <div class="nav__menu">
            <div class="nav__menu__login" *ngIf="!isAuthenticated">
                <mat-slide-toggle [(ngModel)]="darkMode" (change)="toggleDarkMode()">
                    <mat-icon class="sun" *ngIf="!darkMode">wb_sunny</mat-icon>
                    <mat-icon class="moon" *ngIf="darkMode">nights_stay</mat-icon>
                </mat-slide-toggle>
            </div>
            <div class="nav__menu__login" *ngIf="isAuthenticated">
                <mat-slide-toggle [(ngModel)]="darkMode" (change)="toggleDarkMode()">
                    <mat-icon class="sun" *ngIf="!darkMode">wb_sunny</mat-icon>
                    <mat-icon class="moon" *ngIf="darkMode">nights_stay</mat-icon>
                </mat-slide-toggle>
            </div>
            <button class="nav__menu__btn" mat-icon-button (click)="toggleMenu()">
                <mat-icon>more_vert</mat-icon>
            </button>
        </div>
        <app-menu
        [showMenu]="showMenu"
        (closeMenuEmitter)="toggleMenu()"
        (userLoggedOut)="logout()"
        [isAuthenticated]="isAuthenticated"
        [authorizedMenuItems]="authorizedMenuItems"
        [notAuthorizedMenuItems]="notAuthorizedMenuItems"
        (languageChanged)="changeLanguage($event)"
        ></app-menu>
    </ng-container>
    <ng-container *ngIf="isTablet">
        <ul class="nav__list">
            <app-menu-list
            [isAuthenticated]="isAuthenticated"
            [authorizedMenuItems]="authorizedMenuItems"
            [notAuthorizedMenuItems]="notAuthorizedMenuItems"
            (userLoggedOut)="logout()"
            (languageChanged)="changeLanguage($event)"
            ></app-menu-list>
            <mat-slide-toggle [(ngModel)]="darkMode" (change)="toggleDarkMode()">
                <mat-icon class="sun" *ngIf="!darkMode">wb_sunny</mat-icon>
                <mat-icon class="moon" *ngIf="darkMode">nights_stay</mat-icon>
            </mat-slide-toggle>
        </ul>
    </ng-container>
</div>