<div class="nav">
    <div class="nav__logo"><a routerLink="/"><i class="fa fa-home"></i></a></div>
    <div class="nav__menu">
        <div class="nav__menu__login" *ngIf="!isAuthenticated"><a routerLink="/login">Login</a></div>
        <div class="nav__menu__login" *ngIf="isAuthenticated">
            <a routerLink="/profile">
                <i class="fa fa-user-circle"></i>
            </a>
        </div>
        <button class="nav__menu__btn" mat-icon-button (click)="toggleMenu()">
            <mat-icon>more_vert</mat-icon>
        </button>
    </div>
    <app-menu
    [showMenu]="showMenu"
    (closeMenuEmitter)="toggleMenu()"
    (userLoggedOut)="logout()"
    [isAuthenticated]="isAuthenticated"
    ></app-menu>
</div>